.genre-container > h1 {
  font-size: 23px;
  margin-bottom: 10px;
}
.genre-list {
  display: flex;
  margin-bottom: 20px;
}
.genre-list > li {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 45%;
  background: #fff;
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
}
.genre-list > li + li {
  margin-left: 8px;
}
.genre-list > li.active {
  background: #ccc;
}
